.grid-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
}


.grid-column-span-2{
    grid-column: span 2;
}

.grid-column-span-3{
    grid-column: span 3;
}

.grid-column-span-4{
    grid-column: span 4;
}

.grid-column-span-6{
    grid-column: span 6;
}

.grid-column-span-8{
    grid-column: span 8;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .grid-column-span-1 {
        grid-column: span 2;
    }
}

@media screen and (max-width: 768px) {
    .grid-column-span-1 {
        grid-column: span 4;
    }
    .grid-column-span-2 {
        grid-column: span 4;
    }
    .grid-column-span-3 {
        grid-column: span 6;
    }
  }

  @media screen and (max-width: 576px) {
    .grid-column,
    .grid-column-span-2,
    .grid-column-span-3,
    .grid-column-span-4,
    .grid-column-span-6,
    .grid-column-span-8
     {
        grid-column: span 12;
    }
  }